* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #ae3dff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chronometer {
    width: 40%;
    height: 60%;
    background-color: #55ffe2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}

.board {
    width: 60%;
    height: 60%;
    background-color: #37023a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.board p {
    color: #55ffe2;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 60%;
    height: 20%;
    background-color: #37023a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.buttons button {
    background-color: #55ffe2;
    padding: 10px 20px;
    color: #37023a;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: none;
}

.buttons button:hover {
    color: #ae3dff;
}